<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>开始使用layui</title>
  <link rel="stylesheet" href="__STATIC__/common/layui-v2.2.5/css/layui.css">
  <script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
  <script src="__STATIC__/common/layui-v2.2.5/layui.js"></script>
</head>
<body>
<!-- 你的HTML代码 -->
<div class="layui-container">  
  <div class="layui-row layui-col-space5">
    <div class="layui-col-md12">
    </div>
       <div class="layui-col-md12">
      <button class="layui-btn layui-btn-radius layui-btn-normal authadd">添加权限</button>
    </div>
    <div class="layui-col-md12">
      <table id="demo" lay-filter="barAuth"></table>
    </div>
  </div>
</div>
<div class="layui-container">

</div>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 315
    ,url: '<?php echo url("Admin/auth/authAjaxReturn")?>' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'authid', title: 'ID',width:"15%",sort: true, fixed: 'left'}
      ,{field: 'authname', width:"15%",title: '权限名称'}
      ,{field: 'controller',width:"15%", title: '权限控制器', sort: true}
      ,{field: 'action', width:"15%",title: '权限方法'} 
      ,{field: 'status', width:"15%",title: '权限状态',templet:function(res){
    	   if(res.status==1){
    		   return "禁用";
    	   }else{
    		   return "启用";
    	   }
      },  
    },{field: 'right', title: '操作',toolbar:"#barAuth"} 
    ]],
    done: function(res, curr, count){
        //如果是异步请求数据方式，res即为你接口返回的信息。
        //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
        console.log(res);
        
        //得到当前页码
        console.log(curr); 
        
        //得到数据总量
        console.log(count);
      }
  });
  table.on('tool(barAuth)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
	  var data = obj.data; //获得当前行数据
	  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	  var tr = obj.tr; //获得当前行 tr 的DOM对象
	  console.log(data);
    
    	  layui.use(['layer','form'], function(){
    		  var layer = layui.layer;
    		  var form = layui.form;
    		  if(layEvent=='edit'){
    		  layer.open({
    			  type: 1,
    			  title:'编辑权限',
    			  area: ['350px', '400px'],
    			  content:'<div class="layui-row ">'+
    			  '<div style="margin-bottom:10px;"></div>'+
    			  '<div class="layui-col-md10 edit">'+
    				  '<form class="layui-form" method="post" action="<?php echo url("Admin/auth/authAdd")?>">'+
    				  '<div class="layui-form-item">'+
    				    '<label class="layui-form-label">权限名称</label>'+
    				    '<div class="layui-input-block">'+
    				      '<input type="text" name="authname" value="'+data.authname+'" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off"  class="layui-input">'+
    				    '</div>'+
    				  '</div>'+
    				  '<div class="layui-form-item">'+
    				    '<label class="layui-form-label">控制器</label>'+
    				    '<div class="layui-input-block">'+
    				      '<input type="text" name="controller" required  value="'+data.controller+'" lay-verify="required" placeholder="请输入控制名称" autocomplete="off"  class="layui-input">'+
    				    '</div>'+
    				  '</div>'+
    				  '<div class="layui-form-item">'+
    				    '<label class="layui-form-label">方法</label>'+
    				    '<div class="layui-input-block">'+
    				      '<input type="text" name="action" required  value="'+data.action+'" lay-verify="required" placeholder="请输入方法" autocomplete="off"  class="layui-input">'+
    				    '</div>'+
    				  '</div>'+
    				  '<div class="layui-form-item">'+
    				    '<label class="layui-form-label">是否启用</label>'+
    				    '<div class="layui-input-block">'+
    				      '<input type="radio" name="status" value="0" title="启用" checked>'+
    				      '<input type="radio" name="status" value="1" title="禁用">'+
    				    '</div>'+
    				  '</div>'+
    				  '<div class="layui-form-item">'+
    				    '<div class="layui-input-block">'+
    				      '<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>'+
    				      '<button type="reset" class="layui-btn layui-btn-primary">重置</button>'+
    				    '</div>'+
    				  '</div>'+
    				'</form>'+
    				'</div>'+
    				'</div>',
    				  success: function(layero, index){
    					  if(data.status==0){
    						  console.log("-------------");
    						  console.log("ccvv");
    						  $('.edit').find("input").eq(3).attr('checked','checked');
    						  $('.edit').find("input").eq(4).removeAttr('checked');
    						  
    					  }else{
    						  console.log("-------------");
    						  console.log($('.edit').find("input").eq(4));
    						  $('.edit').find("input").eq(4).attr('checked','checked');
    						  $('.edit').find("input").eq(3).removeAttr('checked');
    				
    					  }
    					  
    					  
    					    form.render('radio');
    				}
    				 //这里content是一个普通的String
    			});
    		  }
    	});  
     	
	});
	     
});
</script>

 <script type="text/html" id="barAuth"  lay-filter="test">
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script>
 
</script>
 

<script>

	layui.use(['layer','form','element'], function(){
		  var layer = layui.layer;
		  var form = layui.form;
		  $('.authadd').on("click",function(){
		  layer.open({
			  type: 1,
			  title:'添加权限',
			  area: ['350px', '400px'],
			  content:'<div class="layui-row ">'+
			  '<div style="margin-bottom:10px;"></div>'+
			  '<div class="layui-col-md10 add">'+
				  '<form class="layui-form" method="post" action="<?php echo url("Admin/auth/authAdd")?>">'+
				  '<div class="layui-form-item">'+
				    '<label class="layui-form-label">权限名称</label>'+
				    '<div class="layui-input-block">'+
				      '<input type="text" name="authname" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off"  class="layui-input">'+
				    '</div>'+
				  '</div>'+
				  '<div class="layui-form-item">'+
				    '<label class="layui-form-label">控制器</label>'+
				    '<div class="layui-input-block">'+
				      '<input type="text" name="controller" required  lay-verify="required" placeholder="请输入控制名称" autocomplete="off"  class="layui-input">'+
				    '</div>'+
				  '</div>'+
				  '<div class="layui-form-item">'+
				    '<label class="layui-form-label">方法</label>'+
				    '<div class="layui-input-block">'+
				      '<input type="text" name="action" required  lay-verify="required" placeholder="请输入方法" autocomplete="off"  class="layui-input">'+
				    '</div>'+
				  '</div>'+
				  '<div class="layui-form-item">'+
				    '<label class="layui-form-label">是否启用</label>'+
				    '<div class="layui-input-block">'+
				      '<input type="radio" name="status" value="0" title="启用" checked>'+
				      '<input type="radio" name="status" value="1" title="禁用">'+
				    '</div>'+
				  '</div>'+
				  '<div class="layui-form-item">'+
				    '<div class="layui-input-block">'+
				      '<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>'+
				      '<button type="reset" class="layui-btn layui-btn-primary">重置</button>'+
				    '</div>'+
				  '</div>'+
				'</form>'+
				'</div>'+
				'</div>',
				  success: function(layero, index){
					    form.render('radio');
					  }
				 //这里content是一个普通的String
			});
		});              

})

</script> 
</body>
</html>